<div class="row1">
  <div class="col-xs-offset-2 col-xs-8"><br><br><br><br>
    <h1><strong>About</strong></h1><br>
    <p><strong>Corona de Happy Wedding</strong>は、タイトル通りの意味でもある</p><br>
    <p><strong>コロナ禍での新郎新婦の結婚式を応援しよう</strong>というコンセプトのもと、</p><br>
    <p>結婚式に関連する記事や成功失敗談など、結婚式のお役立ち情報を掲載しているサイトです。</p><br>
    <p>ですので、お気軽に結婚式に関する記事の投稿をお待ちしております。</p><br>
    <p>また、このサイトは管理者によってよりスムーズに皆様に投稿、閲覧して頂きたく存じますので、管理されたサイトになっております。</p><br>
    <p>お役立ち情報も掲載しておりますので、お気軽にご高覧下さいませ。</p><br>
  </div>
</div>
